@charset "UTF-8";
/*mixins*/
/*Estilos generales*/
* {
  box-sizing: border-box; }

html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth; }
  html body {
    padding: 0;
    margin: 0; }

a {
  text-decoration: none; }

/*Grilla que ordena la página*/
.grid_contiene_todo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "header header header header header header" "imagen_s imagen_s imagen_s imagen_s imagen_s imagen_s" "slider slider slider slider slider slider" "section section section section section section" "aside aside aside aside aside aside"  "main main main main main main" "h_dest h_dest h_dest h_dest h_dest h_dest" "quie_s quie_s quie_s quie_s quie_s quie_s" "col col col col col col" "footer footer footer footer footer footer"; }
  .grid_contiene_todo .cabecera {
    grid-area: header; }
  .grid_contiene_todo .slider {
    grid-area: imagen_s; }
  .grid_contiene_todo .slider_sections {
    grid-area: slider; }
  .grid_contiene_todo main {
    grid-area: main; }
  .grid_contiene_todo aside {
    grid-area: aside; }
  .grid_contiene_todo footer {
    grid-area: footer; }
  .grid_contiene_todo .section_main {
    grid-area: section; }
  .grid_contiene_todo .qs {
    grid-area: quie_s; }
  .grid_contiene_todo .colaboradores {
    grid-area: col; }
  .grid_contiene_todo .h_destacadas {
    grid-area: h_dest; }

/*Estilos a elementos particulares*/
/* Menu principal */
img {
  width: 150px;
  height: auto; }

.cabecera {
  background-color: #131014; }

.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  width: 100%;
  height: 56px;
  z-index: 10;
  background-color: #131014; }
  .nav_menu .bar_btn {
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
    color: #FFF; }

.logo {
  width: 140px;
  margin-left: 20px; }

.ul_menu {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  height: 0;
  top: 56px;
  background-color: rgba(19, 16, 20, 0.6);
  text-align: center;
  transition: all .5s;
  z-index: 10; }
  .ul_menu .ul_menu_li {
    list-style: none;
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s; }
    .ul_menu .ul_menu_li a {
      color: #FFF;
      text-decoration: none;
      font-size: 1rem;
      letter-spacing: 2px;
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-weight: 500;
      transition: color .5s ease; }
    .ul_menu .ul_menu_li a:hover {
      color: red; }

/*funcionamiento menu hamburguesa al hacer click sobre él*/
#check {
  display: none; }

#check:checked ~ .ul_menu {
  height: 100vh; }

#check:checked ~ .ul_menu .ul_menu_li {
  display: block; }

/* slider de la página */
.slider {
  height: 100vh;
  background-color: black;
  position: relative; }
  .slider .slider_img {
    background-image: url(../images/pruebas/slider_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 1;
    filter: grayscale(0.5), drop-shadow(0.9); }
  .slider .centrar_titulos {
    position: absolute;
    width: 100%;
    bottom: 20%; }
    .slider .centrar_titulos .title_slider {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../images/pruebas/flama.jpg);
      filter: grayscale(0.3);
      border-radius: 10px;
      padding: 50px 0; }

.title_slider h1 {
  padding: 0;
  margin: 0;
  font-size: 3.2rem;
  letter-spacing: 4px;
  color: #FFF; }

.title_slider h2 {
  color: #FFF;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 2px; }

/*Secciones principales*/
.slider_sections {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  grid-template-areas: "box_a box_a box_b box_b" "box_c box_c box_d box_d"; }
  .slider_sections .box_a {
    grid-area: box_a; }
  .slider_sections .box_b {
    grid-area: box_b; }
  .slider_sections .box_c {
    grid-area: box_c; }
  .slider_sections .box_d {
    grid-area: box_d; }
  .slider_sections .slider_sections_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #131014;
    color: #FFF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.562);
    transition: background-color .7s ease; }

.slider_sections_box > a > img {
  width: 50px;
  padding-top: 20px; }

.slider_sections_box > a > .man {
  filter: drop-shadow(0 0 0.55rem #FFF); }

.slider_sections_box > h2 {
  font-size: 1rem;
  text-transform: uppercase; }

.slider_sections_box > p {
  font-size: 12px;
  text-align: center;
  padding: 10px; }

.slider_sections_box:hover {
  background-color: #4f2aa5; }

/* Primera sección (Historia destacada)  */
.section_main {
  width: 100%;
  padding: 30px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr); }
  .section_main .image_main_section {
    grid-column: 1/7;
    grid-row: 1/5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
  .section_main .text_main_section {
    width: 100%;
    grid-column: 2/6;
    grid-row: 4/7;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    color: #FFF;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border: 2px solid rgba(255, 255, 255, 0.164);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 1s linear; }
  .section_main .text_main_section:hover {
    background-color: #131014; }

.image_main_section img {
  width: 90%;
  height: 90%; }

.text_main_section h2 {
  font-size: 1.3rem;
  text-align: center; }

.text_main_section p {
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  margin: 0; }

.text_main_section a {
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
  margin: 10px 0;
  border: 2px solid #FFF;
  transition: all .3s ease; }

.text_main_section a:hover {
  background-color: #FFF;
  color: black;
  font-weight: 600; }
