@charset "UTF-8";
/*mixins*/
/*Estilos generales*/
* {
  box-sizing: border-box; }

html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth; }
  html body {
    padding: 0;
    margin: 0; }

a {
  text-decoration: none; }

/*Grilla que ordena la página*/
.grid_contiene_todo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "header header header header header header" "imagen_s imagen_s imagen_s imagen_s imagen_s imagen_s" "slider slider slider slider slider slider" "section section section section section section" "aside aside aside aside aside aside"  "main main main main main main" "h_dest h_dest h_dest h_dest h_dest h_dest" "quie_s quie_s quie_s quie_s quie_s quie_s" "col col col col col col" "footer footer footer footer footer footer"; }
  .grid_contiene_todo .cabecera {
    grid-area: header; }
  .grid_contiene_todo .slider {
    grid-area: imagen_s; }
  .grid_contiene_todo .slider_sections {
    grid-area: slider; }
  .grid_contiene_todo main {
    grid-area: main; }
  .grid_contiene_todo aside {
    grid-area: aside; }
  .grid_contiene_todo footer {
    grid-area: footer; }
  .grid_contiene_todo .section_main {
    grid-area: section; }
  .grid_contiene_todo .qs {
    grid-area: quie_s; }
  .grid_contiene_todo .colaboradores {
    grid-area: col; }
  .grid_contiene_todo .h_destacadas {
    grid-area: h_dest; }

/*Estilos a elementos particulares*/
/* Menu principal */
img {
  width: 150px;
  height: auto; }

.cabecera {
  width: 100%;
  background-color: #131014; }

.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  width: 100%;
  height: 56px;
  z-index: 10;
  background-color: #131014; }
  .nav_menu .bar_btn {
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
    color: #FFF; }

.logo {
  width: 140px;
  margin-left: 20px; }

.ul_menu {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  height: 0;
  top: 56px;
  background-color: rgba(19, 16, 20, 0.6);
  text-align: center;
  transition: all .5s;
  z-index: 10; }
  .ul_menu .ul_menu_li {
    list-style: none;
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s; }
    .ul_menu .ul_menu_li a {
      color: #FFF;
      text-decoration: none;
      font-size: 1rem;
      letter-spacing: 2px;
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-weight: 500;
      transition: color .5s ease; }
    .ul_menu .ul_menu_li a:hover {
      color: red; }

/*funcionamiento menu hamburguesa al hacer click sobre él*/
#check {
  display: none; }

#check:checked ~ .ul_menu {
  height: 100vh; }

#check:checked ~ .ul_menu .ul_menu_li {
  display: block; }

/* slider de la página */
.slider {
  height: 100vh;
  background-color: #131014;
  position: relative; }
  .slider .slider_img {
    background-image: url(../images/pruebas/slider_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 1;
    filter: grayscale(0.5), drop-shadow(0.9); }
  .slider .centrar_titulos {
    position: absolute;
    width: 100%;
    bottom: 20%; }
    .slider .centrar_titulos .title_slider {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../images/pruebas/flama.jpg);
      filter: grayscale(0.3);
      border-radius: 10px;
      padding: 50px 0; }

.title_slider h1 {
  padding: 0;
  margin: 0;
  font-size: 3.2rem;
  letter-spacing: 4px;
  color: #FFF; }

.title_slider h2 {
  color: #FFF;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 2px; }

/*Secciones principales*/
.slider_sections {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  grid-template-areas: "box_a box_a box_b box_b" "box_c box_c box_d box_d"; }
  .slider_sections .box_a {
    grid-area: box_a; }
  .slider_sections .box_b {
    grid-area: box_b; }
  .slider_sections .box_c {
    grid-area: box_c; }
  .slider_sections .box_d {
    grid-area: box_d; }
  .slider_sections .slider_sections_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #131014;
    color: #FFF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: background-color .7s ease; }

.slider_sections_box > a > img {
  width: 50px;
  padding-top: 20px; }

.slider_sections_box > a > .man {
  filter: drop-shadow(0 0 0.55rem #FFF); }

.slider_sections_box > h2 {
  font-size: 1rem;
  text-transform: uppercase; }

.slider_sections_box > p {
  font-size: 12px;
  text-align: center;
  padding: 10px; }

.slider_sections_box:hover {
  background-color: #0a85f8; }

/* Primera sección (Historia destacada)  */
.section_main {
  width: 100%;
  padding: 30px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr); }
  .section_main .image_main_section {
    grid-column: 1/7;
    grid-row: 1/5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
  .section_main .text_main_section {
    width: 100%;
    grid-column: 2/6;
    grid-row: 4/7;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    color: #FFF;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border: 2px solid rgba(255, 255, 255, 0.164);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 1s linear; }
  .section_main .text_main_section:hover {
    background-color: #131014; }

.image_main_section img {
  width: 90%;
  height: 90%; }

.text_main_section h2 {
  font-size: 1.3rem;
  text-align: center; }

.text_main_section p {
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  margin: 0; }

.text_main_section a {
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
  margin: 10px 0;
  border: 2px solid #FFF;
  transition: all .3s ease; }

.text_main_section a:hover {
  background-color: #FFF;
  color: #131014;
  font-weight: 600; }

/* Estilos al aside */
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 90%;
  max-width: 345px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #595b6e;
  padding-bottom: 50px;
  border-radius: 20px; }
  aside h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px; }

/*Estislos aside formulario de busqueda*/
.busqueda {
  width: 90%;
  max-width: 350px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px; }
  .busqueda #buscar {
    width: 90%;
    max-width: 350px;
    height: 35px;
    background-color: #131014;
    color: #FFF;
    font-size: 16px;
    border: 3px solid #0a85f8;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: relative; }
  .busqueda .boton_busqueda i {
    color: #FFF;
    position: absolute;
    font-size: 30px; }
  .busqueda .boton_busqueda input {
    font-size: 5px;
    opacity: 0;
    cursor: pointer; }

/* aside estilos a categorias*/
.categorias {
  width: 100%;
  margin-bottom: 70px; }
  .categorias .enlaces {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px; }
    .categorias .enlaces a {
      display: inline-block;
      width: 80%;
      height: 60px;
      text-align: center;
      line-height: 60px;
      text-decoration: none;
      color: #FFF;
      font-weight: 800;
      font-size: 20px;
      text-shadow: 2px 2px 3px black;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .categorias .enlaces .fantasma {
      background-image: url(../images/fantasmas.jpg); }
    .categorias .enlaces .demonio {
      background-image: url(../images/demonio.jpg); }
    .categorias .enlaces .brujeria {
      background-image: url(../images/brujeria.jpg); }
    .categorias .enlaces .internet {
      background-image: url(../images/internet.jpg); }
    .categorias .enlaces .lugares {
      background-image: url(../images/lugar_maldito.jpg); }
    .categorias .enlaces .muneco {
      background-image: url(../images/muñeco_maldito.jpg); }
    .categorias .enlaces .casa {
      background-image: url(../images/casa_embrujada.jpg); }
    .categorias .enlaces a:hover {
      filter: grayscale(0.7);
      letter-spacing: 2.5px; }

/* sección aside de pelis y series recomendadas */
.recomendadas {
  width: 80%;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px; }

.recomendadas_article {
  display: flex;
  gap: 10px;
  background-color: #131014;
  width: 100%;
  height: 170px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  transition: all .5s ease-in-out; }
  .recomendadas_article .recomendadas_cont_img img {
    width: 110px;
    height: 170px; }
  .recomendadas_article .recomendadas_cont_text {
    width: 100%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: nowrap;
    gap: 15px;
    height: 170px; }
    .recomendadas_article .recomendadas_cont_text h3 {
      font-size: 16px;
      padding: 0;
      margin: 0;
      margin-top: 10px; }
    .recomendadas_article .recomendadas_cont_text span {
      font-size: 12px; }
    .recomendadas_article .recomendadas_cont_text a {
      display: inline-block;
      font-size: 14px;
      padding: 4px 0;
      width: 60%;
      margin-top: 30px;
      text-align: center;
      text-decoration: none;
      color: #FFF;
      border: 2px solid #FFF; }
    .recomendadas_article .recomendadas_cont_text a:hover {
      background-color: #FFF;
      color: black;
      font-weight: 500; }

.recomendadas_article:hover {
  background-color: #0a85f8;
  transform: rotate(2deg); }

/* sección aside publicidad */
.publicidad {
  width: 90%;
  height: 200px;
  background-color: #FFF;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); }
  .publicidad p {
    color: #131014; }

/* sección aside redes */
.redes {
  width: 100%;
  text-align: center; }

.redes_ul {
  padding: 0;
  margin: 0;
  background-color: #131014;
  padding: 10px 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap; }
  .redes_ul .redes_li a {
    color: #FFF;
    font-size: 30px;
    transition: color .7s ease; }
  .redes_ul .redes_li a:hover {
    color: #0a85f8; }

/* sección de historias recientes*/
.h_recientes {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 70px;
  gap: 20px;
  grid-template-areas: "title title title ." "hr_a hr_a hr_a hr_a" "titulo_b titulo_b titulo_b ." "hr_b hr_b hr_c hr_c" "hr_b hr_b hr_c hr_c" "hr_d hr_d hr_d hr_d"; }
  .h_recientes .grid_a {
    grid-area: hr_a; }
  .h_recientes .grid_b {
    grid-area: hr_b; }
  .h_recientes .grid_c {
    grid-area: hr_c; }
  .h_recientes .grid_d {
    grid-area: hr_d; }
  .h_recientes .title_hr {
    grid-area: title; }
  .h_recientes .title_hr_b {
    grid-area: titulo_b; }

.grid_a,
.grid_b,
.grid_c,
.grid_d {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5); }

.grid_c_img,
.grid_b_img {
  width: 100%; }
  .grid_c_img img,
  .grid_b_img img {
    width: 100%;
    height: 190px; }

.grid_a_img,
.grid_d_img {
  width: 100%; }
  .grid_a_img img,
  .grid_d_img img {
    width: 100%; }

.styles_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  background-color: #FFF;
  height: 100%;
  padding: 10px; }
  .styles_text span {
    font-size: 12px; }
  .styles_text h3 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 0;
    margin: 0;
    margin-top: 5px; }
  .styles_text p {
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 500;
    color: #0f0f16; }
  .styles_text a {
    font-size: 15px;
    letter-spacing: .5px;
    color: #0a85f8;
    text-decoration: none; }

.title_hr_b,
.grid_h2,
.title_hr {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px; }

/* sección de historias destacadas */
.h_destacadas {
  width: 90%;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-template-areas: "h2_hd h2_hd h2_hd h2_hd" "hd_a hd_a hd_a hd_a" "hd_b hd_b hd_c hd_c"; }
  .h_destacadas .grid_h2 {
    grid-area: h2_hd; }
  .h_destacadas .grid_e {
    grid-area: hd_a; }
  .h_destacadas .grid_f {
    grid-area: hd_b; }
  .h_destacadas .grid_g {
    grid-area: hd_c; }

.grid_e,
.grid_f,
.grid_g {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5); }
  .grid_e img,
  .grid_f img,
  .grid_g img {
    width: 100%; }

.grid_f img,
.grid_g img {
  height: 190px; }

.altura_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap; }
  .altura_text .fecha_link {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0; }

/*Sección de Quienes somos*/
.qs {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr); }
  .qs .image_qs_section {
    grid-column: 1/7;
    grid-row: 3/7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
  .qs .text_qs_section {
    width: 100%;
    grid-column: 2/6;
    grid-row: 1/4;
    background-color: #131014;
    backdrop-filter: blur(10px);
    color: #FFF;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); }

.image_qs_section img {
  width: 90%;
  height: 100%; }

.text_qs_section h2 {
  font-size: 1.3rem;
  text-align: center;
  padding: 0;
  margin: 0; }

.text_qs_section p {
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  margin: 0; }

.text_qs_section a {
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
  margin: 10px 0;
  border: 2px solid #FFF;
  transition: all .5s ease; }

.text_qs_section a:hover {
  background-color: #0a85f8;
  color: #131014;
  font-weight: 600; }
