$color_primario: rgb(19, 16, 20);
$color_secundario: #FFF;
$color_tercero: rgb(89, 91, 110);
$color_cuarto: rgba(19, 16, 20, 0.6);
$size_h1: 2.5rem;
$siza_h2: 1rem;

/*mixins*/

@mixin reseteado($sin_padding, $sin_margin) {
    padding: $sin_padding;
    margin: $sin_margin;
}

@mixin centrado(){
    margin-left: auto;
    margin-right: auto;
}

@mixin caja_flexible($direction ,$just_cont, $ali_items, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $just_cont;
    align-items: $ali_items;
    flex-wrap: $wrap;
}

@mixin fondo_imagen(){
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Estilos generales*/

*{
    box-sizing: border-box;
}

html{
    @include reseteado(0, 0);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    body{
        @include reseteado(0, 0);
    }
}

a{
    text-decoration: none;
}

/*Grilla que ordena la página*/

.grid_contiene_todo{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "header header header header header header"
                         "imagen_s imagen_s imagen_s imagen_s imagen_s imagen_s"
                         "slider slider slider slider slider slider"
                         "section section section section section section"
                         "aside aside aside aside aside aside" 
                         "main main main main main main"
                         "h_dest h_dest h_dest h_dest h_dest h_dest"
                         "quie_s quie_s quie_s quie_s quie_s quie_s"
                         "col col col col col col"
                         "footer footer footer footer footer footer" ;
    .cabecera{
        grid-area: header;
    }
                        
    .slider{
        grid-area: imagen_s;
    }
                        
    .slider_sections{
        grid-area: slider;
    }
                        
    main{
        grid-area: main;
    }
                        
    aside{
        grid-area: aside;
    }
                        
    footer{
        grid-area: footer;
    }
                        
    .section_main{
         grid-area: section;
    }
                        
    .qs{
        grid-area: quie_s;
    }
                        
    .colaboradores{
        grid-area: col;
    }
                        
    .h_destacadas{
        grid-area: h_dest;
    }
}

/*Estilos a elementos particulares*/
/* Menu principal */

img{
    width: 150px;
    height: auto;
}

.cabecera{
    background-color: $color_primario;
}

.nav_menu{
   @include caja_flexible(row, space-between, center, nowrap);
   position: fixed;
   width: 100%;
   height: 56px;
   z-index: 10;
   background-color: $color_primario;
   .bar_btn{
        font-size: 25px;
        margin-right: 20px;
        cursor: pointer;
        color: $color_secundario;
   }
}

.logo{
    width: 140px;
    margin-left: 20px;
}

.ul_menu{
    @include reseteado(0, 0);
    position: fixed;
    width: 100%;
    height: 0;
    top: 56px;
    background-color: $color_cuarto;
    text-align: center;
    transition: all .5s;
    z-index: 10;
    .ul_menu_li{
        list-style: none;
        display: none;
        line-height: 30px;
        margin: 50px 0;
        transition: all .5s;
        a{
            color: $color_secundario;
            text-decoration: none;
            font-size: 1rem;
            letter-spacing: 2px;
            display: block;
            width: 100%;
            text-transform: uppercase; 
            font-weight: 500;
            transition: color .5s ease;
        }
       a:hover{
            color: red;
       }
    }
    
}


/*funcionamiento menu hamburguesa al hacer click sobre él*/

#check{
    display: none;
}

#check:checked ~.ul_menu{
    height: 100vh;
}

#check:checked ~ .ul_menu .ul_menu_li{
    display: block;
}

/* slider de la página */

.slider{
    height: 100vh;
    background-color: black;
    position: relative;
    .slider_img{
        background-image: url(../images/pruebas/slider_img.jpg);
        @include fondo_imagen();
        height: 100vh;
        opacity: 1;
        filter: grayscale(.5), drop-shadow(.9);
    }
    .centrar_titulos{
        position: absolute;
        width: 100%;
        bottom: 20%;
        .title_slider{
            text-align: center;
            @include centrado();
            width: 90%;
            @include fondo_imagen();
            background-image: url(../images/pruebas/flama.jpg);
            filter: grayscale(.3);
            border-radius: 10px;
            padding: 50px 0;
        }
    }
}

.title_slider{
    h1{
        @include reseteado(0, 0);
        font-size: 3.2rem;  
        letter-spacing: 4px;
        color: $color_secundario;
    }
    h2{
       color: $color_secundario; 
       font-weight: 100;
       font-size: 1rem;
       letter-spacing: 2px;
    }
}

/*Secciones principales*/

.slider_sections{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    @include centrado();
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-areas: "box_a box_a box_b box_b"
                         "box_c box_c box_d box_d";
    .box_a{
        grid-area: box_a;
    }
                        
    .box_b{
        grid-area: box_b;
    }
                        
    .box_c{
        grid-area: box_c;
    }
                        
    .box_d{
        grid-area: box_d;
    }
    .slider_sections_box{
        width: 100%;
       @include caja_flexible(column, baseline, center, nowrap);
        background-color: $color_primario;
        color: $color_secundario;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.562);
        transition: background-color .7s ease;
    }
}

.slider_sections_box > a >img{
    width: 50px;
    padding-top: 20px;
}

.slider_sections_box > a > .man{
    filter:drop-shadow(0 0 0.55rem $color_secundario);
}

.slider_sections_box > h2{
    font-size: 1rem;
    text-transform: uppercase;
}

.slider_sections_box > p{
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

.slider_sections_box:hover{
    background-color: rgb(79, 42, 165);
}

