$color_primario: rgb(19, 16, 20);
$color_secundario: #FFF;
$color_tercero: rgb(89, 91, 110);
$color_cuarto: rgba(19, 16, 20, 0.6);
$color_quinto: rgb(10, 133, 248);
$color_sombra:rgba(0, 0, 0, 0.5);
$size_h1: 2.5rem;
$siza_h2: 1rem;

/*mixins*/

@mixin reseteado($sin_padding, $sin_margin) {
    padding: $sin_padding;
    margin: $sin_margin;
}

@mixin centrado(){
    margin-left: auto;
    margin-right: auto;
}

@mixin caja_flexible($direction ,$just_cont, $ali_items, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $just_cont;
    align-items: $ali_items;
    flex-wrap: $wrap;
}

@mixin fondo_imagen(){
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Estilos generales*/

*{
    box-sizing: border-box;
}

html{
    @include reseteado(0, 0);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    body{
        @include reseteado(0, 0);
    }
}

a{
    text-decoration: none;
}

/*Grilla que ordena la página*/

.grid_contiene_todo{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "header header header header header header"
                         "imagen_s imagen_s imagen_s imagen_s imagen_s imagen_s"
                         "slider slider slider slider slider slider"
                         "section section section section section section"
                         "aside aside aside aside aside aside" 
                         "main main main main main main"
                         "h_dest h_dest h_dest h_dest h_dest h_dest"
                         "quie_s quie_s quie_s quie_s quie_s quie_s"
                         "col col col col col col"
                         "footer footer footer footer footer footer" ;
    .cabecera{
        grid-area: header;
    }
                        
    .slider{
        grid-area: imagen_s;
    }
                        
    .slider_sections{
        grid-area: slider;
    }
                        
    main{
        grid-area: main;
    }
                        
    aside{
        grid-area: aside;
    }
                        
    footer{
        grid-area: footer;
    }
                        
    .section_main{
         grid-area: section;
    }
                        
    .qs{
        grid-area: quie_s;
    }
                        
    .colaboradores{
        grid-area: col;
    }
                        
    .h_destacadas{
        grid-area: h_dest;
    }
}

/*Estilos a elementos particulares*/
/* Menu principal */

img{
    width: 150px;
    height: auto;
}

.cabecera{
    background-color: $color_primario;
}

.nav_menu{
   @include caja_flexible(row, space-between, center, nowrap);
   position: fixed;
   width: 100%;
   height: 56px;
   z-index: 10;
   background-color: $color_primario;
   .bar_btn{
        font-size: 25px;
        margin-right: 20px;
        cursor: pointer;
        color: $color_secundario;
   }
}

.logo{
    width: 140px;
    margin-left: 20px;
}

.ul_menu{
    @include reseteado(0, 0);
    position: fixed;
    width: 100%;
    height: 0;
    top: 56px;
    background-color: $color_cuarto;
    text-align: center;
    transition: all .5s;
    z-index: 10;
    .ul_menu_li{
        list-style: none;
        display: none;
        line-height: 30px;
        margin: 50px 0;
        transition: all .5s;
        a{
            color: $color_secundario;
            text-decoration: none;
            font-size: 1rem;
            letter-spacing: 2px;
            display: block;
            width: 100%;
            text-transform: uppercase; 
            font-weight: 500;
            transition: color .5s ease;
        }
       a:hover{
            color: red;
       }
    }
    
}


/*funcionamiento menu hamburguesa al hacer click sobre él*/

#check{
    display: none;
}

#check:checked ~.ul_menu{
    height: 100vh;
}

#check:checked ~ .ul_menu .ul_menu_li{
    display: block;
}

/* slider de la página */

.slider{
    height: 100vh;
    background-color: $color_primario;
    position: relative;
    .slider_img{
        background-image: url(../images/pruebas/slider_img.jpg);
        @include fondo_imagen();
        height: 100vh;
        opacity: 1;
        filter: grayscale(.5), drop-shadow(.9);
    }
    .centrar_titulos{
        position: absolute;
        width: 100%;
        bottom: 20%;
        .title_slider{
            text-align: center;
            @include centrado();
            width: 90%;
            @include fondo_imagen();
            background-image: url(../images/pruebas/flama.jpg);
            filter: grayscale(.3);
            border-radius: 10px;
            padding: 50px 0;
        }
    }
}

.title_slider{
    h1{
        @include reseteado(0, 0);
        font-size: 3.2rem;  
        letter-spacing: 4px;
        color: $color_secundario;
    }
    h2{
       color: $color_secundario; 
       font-weight: 100;
       font-size: 1rem;
       letter-spacing: 2px;
    }
}

/*Secciones principales*/

.slider_sections{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    @include centrado();
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-areas: "box_a box_a box_b box_b"
                         "box_c box_c box_d box_d";
    .box_a{
        grid-area: box_a;
    }
                        
    .box_b{
        grid-area: box_b;
    }
                        
    .box_c{
        grid-area: box_c;
    }
                        
    .box_d{
        grid-area: box_d;
    }
    .slider_sections_box{
        width: 100%;
       @include caja_flexible(column, baseline, center, nowrap);
        background-color: $color_primario;
        color: $color_secundario;
        box-shadow: 5px 5px 5px $color_sombra;
        transition: background-color .7s ease;
    }
}

.slider_sections_box > a >img{
    width: 50px;
    padding-top: 20px;
}

.slider_sections_box > a > .man{
    filter:drop-shadow(0 0 0.55rem $color_secundario);
}

.slider_sections_box > h2{
    font-size: 1rem;
    text-transform: uppercase;
}

.slider_sections_box > p{
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

.slider_sections_box:hover{
    background-color: $color_quinto;
}

 /* Primera sección (Historia destacada)  */

 .section_main{
    width: 100%;
    padding: 30px 0;
    @include centrado();
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    .image_main_section{
        grid-column: 1/7;
        grid-row: 1/5;
        @include caja_flexible(row, center, center, nowrap);
     }
     .text_main_section{
        width: 100%;
        grid-column: 2/6;
        grid-row: 4/7;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter:blur(10px);
        color: $color_secundario;
        padding: 0 20px;
        @include caja_flexible(column, center, center, nowrap);
        border: 2px solid rgba(255, 255, 255, 0.164);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        transition: background-color 1s linear;
     }
     .text_main_section:hover{
        background-color: $color_primario;
     }
 }

 .image_main_section {
    img{
        width: 90%;
        height: 90%;
     }
 } 

.text_main_section{
    h2{
        font-size: 1.3rem;
        text-align: center;
     }
     p{
        font-size: 14px;
        text-align: center;
        padding-top: 10px;
        margin: 0;
     }
     a{
        color:$color_secundario;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        padding: 5px 10px;
        margin: 10px 0;
        border: 2px solid $color_secundario;
        transition:all .3s ease;
     }
     a:hover{
        background-color: $color_secundario;
        color: $color_primario;
        font-weight: 600;
     }
}

/* Estilos al aside */

aside{
    @include caja_flexible(column, center, center, nowrap);
    width: 90%;
    max-width: 345px;
    margin-bottom: 100px;
    @include centrado();
    background-color: $color_tercero;
    padding-bottom: 50px;
    border-radius: 20px;
    h2{
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 2px;
    }
}

/*Estislos aside formulario de busqueda*/

.busqueda{
    width: 90%;
    max-width: 350px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 50px;
    @include caja_flexible(row, center, center, nowrap);
    gap: 10px;
    #buscar{
        width: 90%;
        max-width: 350px;
        height: 35px;
        background-color: $color_primario;
        color: $color_secundario;
        font-size: 16px;
        border: 3px solid $color_quinto;
        box-shadow: 5px 5px 5px $color_sombra;
        border-radius: 5px;
        position: relative;
    }
    .boton_busqueda{
        i{
            color: $color_secundario;
            position: absolute;
            font-size: 30px;
        }
        input{
            font-size: 5px;
            opacity: 0;
            cursor: pointer;
        }
    }
}

/* aside estilos a categorias*/

.categorias{
    width: 100%;
    margin-bottom: 70px;
    .enlaces{
        width: 100%;
        @include caja_flexible(column, center, center, nowrap);
        gap: 10px;
        a{
            display: inline-block;
            width: 80%;
            height: 60px;
            text-align: center;
            line-height: 60px;
            text-decoration: none;
            color: $color_secundario;
            font-weight: 800;
            font-size: 20px;
            text-shadow: 2px 2px 3px black;
            @include fondo_imagen();
        }
        .fantasma{
            background-image: url(../images/fantasmas.jpg);
        }
        .demonio{
            background-image: url(../images/demonio.jpg);
        }
        .brujeria{
            background-image: url(../images/brujeria.jpg);
        }
        .internet{
            background-image: url(../images/internet.jpg);
        }
        .lugares{
            background-image: url(../images/lugar_maldito.jpg);
        }
        .muneco{
            background-image: url(../images/muñeco_maldito.jpg);
        }
        .casa{
            background-image: url(../images/casa_embrujada.jpg);
        }
        a:hover{
            filter: grayscale(.7);
            letter-spacing: 2.5px;
        }
    }
} 

/* sección aside de pelis y series recomendadas */

.recomendadas{
    width: 80%;
    margin-bottom: 70px;
    @include caja_flexible(column, center, center, nowrap);
    gap: 10px;
}

.recomendadas_article{
    display: flex;
    gap: 10px;
    background-color: $color_primario;
    width: 100%;
    height: 170px;
    box-shadow: 5px 5px 5px $color_sombra;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    transition: all .5s ease-in-out;
    .recomendadas_cont_img{
        img{
            width: 110px;
            height: 170px;
        }
    }
    .recomendadas_cont_text{
        width: 100%;
        color: $color_secundario;
        @include caja_flexible(column, start, start, nowrap);
        gap: 15px;
        height: 170px;
        h3{
            font-size: 16px;
            @include reseteado(0, 0);
            margin-top: 10px;
        }
        span{
            font-size: 12px;
        }
        a{
            display: inline-block;
            font-size: 14px;
            padding: 4px 0;
            width: 60%;
            margin-top: 30px;
            text-align: center;
            text-decoration: none;
            color: #FFF;
            border: 2px solid #FFF;
        }
        
        a:hover {
            background-color: #FFF;
            color: black;
            font-weight: 500;
        }
    } 
}
.recomendadas_article:hover{
    background-color: $color_quinto;
    transform: rotate(2deg);
}

/* sección aside publicidad */

.publicidad{
    width: 90%;
    height: 200px;
    background-color: $color_secundario;
    margin-bottom: 70px;
    @include caja_flexible(column, center, center, nowrap);
    box-shadow: 5px 5px 5px $color_sombra;
    p{
        color: $color_primario;
    }
}

/* sección aside redes */

.redes{
    width: 100%;
    text-align: center;
}

.redes_ul{
    @include reseteado(0, 0);
    background-color: $color_primario;
    padding: 10px 0;
    list-style: none;
    @include caja_flexible(row, space-evenly, center, nowrap);
    .redes_li{
        a{
            color: $color_secundario;
            font-size: 30px;
            transition: color .7s ease;
        }
        a:hover{
            color: $color_quinto;
        }
    }
}








 